# Dependencias de Node (Frontend)
node_modules/
dist/
build/
.env

# Archivos de Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Archivos de Sistema y Base de Datos local
.DS_Store
*.log